* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


nav {
    display: flex;
    align-items: center;
    height: 13vh;
    background-color: #fff;
    border: .5px solid rgb(216, 216, 230);
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 23px;
}

nav ul li a {
    color: currentColor;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 550;
    position: relative;
}

nav ul li a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    background-color: rgb(126, 34, 206);
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

.nav-btn {
    text-decoration: none;
    color: currentColor;
    margin: 0 5px;
   
}
.btns{
    margin: 0 33px;
}

.nav-btn:hover {
    background-color: #72099c;
   
}

.logo i {
    font-size: 3rem;
    padding: 0 20px;

}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo h3 {
    font-size: 1.5rem;
    color: rgb(126, 34, 206);
}

.nav-btn {
    background-color: rgb(126, 34, 206);
    padding: 8px;
    border-radius: 10px;
    color: white;
}


.subnav {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.subnav ul {
    display: flex;

}

.subnav ul li {
    list-style: none;
    margin: 0 22px;
}

.subnav ul li a {
    color: rgb(126, 34, 206);
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.subnav ul li a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    background-color: rgb(126, 34, 206);
    transition: 0.3s;
}

.subnav ul li a:hover:after {
    width: 100%;
}

.sub-icon2 {
    margin-right: 40px;
    cursor: context-menu;
}

.sub-icon {
    font-size: 1.1rem;
    margin-left: 40px;
}
.sec1{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    flex-direction: column;
}
.sec1 h3{
    font-size: 2rem;
}
.sec1 h4{
    font-size: 1.1rem;
    margin-top: 5px;
    margin-right: 8px;
}
.sec1 span{
    color: #7e22ce;
}
.sec2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin-top: 2rem;
    /* background-color: rgb(245, 245, 245); */
}
.sec2 input{
    padding: .5rem;
    border: 2px solid #c4c6c9;
    border-radius: 8px;
    width: 40%;
    outline:  none;
}
.sec2 input::placeholder{
    color: #c4c6c9;
}
.sec2 textarea{
    padding: .5rem;
    border: 2px solid #c4c6c9;
    border-radius: 8px;
   width: 40%;
   height: 10rem;
   outline: none;

}
.sec2 input:hover{
    border: 2px solid  #7e22ce;
}
.sec2 input:hover::placeholder{
    color:#7e22ce ;
}
.sec2 textarea::placeholder{
    color: #c4c6c9;
}
.sec2 textarea:hover::placeholder{
    color: #7e22ce;
}
.sec2 textarea:hover{
   border: #7e22ce 2px solid;
   
}
.btn{
    background-color: #7e22ce;
    color: white;
    padding: 8px 28px;
    border-radius: 8px;
    transition: all 0.2s ease;
   
}
.btn:hover{
    background-color: #ae00ff;
    transform: scale(0.96);
}
.btn:active{
    transform: scale(0.96);
}
footer{
    display: flex;
     box-shadow: rgba(0, 0, 0, 0.589) 0px 3px 8px;
     height: 12vh;
     align-items: center;
     justify-content: center;
}
 footer p{
    padding: 1.5rem;
}
footer span{
    color: #7e22ce;
}
.hr{
    color: #7e22ce;
    height: 2rem;
    
}
footer a{
    padding: .5rem;
  
}